---
const { variant, order, img, title, alignment } = Astro.props;
---

<div class="coupleContainer">
  <div id="couple" class={variant}>
    <img class={order} src={img} alt="" />
    <h3>{title}</h3>
  </div>
  <div class={alignment}>
    <slot />
  </div>
</div>

<style>
  .coupleContainer {
    margin-bottom: 5rem;
  }

  #couple {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  img {
    width: 50%;
  }

  h3 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2rem;
    writing-mode: vertical-lr;
  }

  .left {
    justify-content: flex-start;
    margin-left: 10%;
  }

  .right {
    justify-content: flex-end;
    margin-right: 10%;
  }

  .second {
    order: 1;
  }

  .start {
    margin-left: 10%;
    margin-right: 20%;
  }

  .end {
    margin-left: 20%;
    margin-right: 10%;
    text-align: right;
  }
</style>
