---
const { variant, order, img, title, alignment } = Astro.props;
---

<div class="coupleContainer">
  <div id="couple" class={variant}>
    <img class={order} src={img} alt="mood img" />
    <h3>{title}</h3>
  </div>
  <div id="slot" class={alignment}>
    <slot />
  </div>
</div>

<style>
  .coupleContainer {
    margin-bottom: 5rem;
  }

  #couple {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  img {
    width: 70%;
  }

  h3 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2rem;
    writing-mode: vertical-lr;
  }

  .left {
    justify-content: flex-start;
    margin-left: 10%;
  }

  .right {
    justify-content: flex-end;
    margin-right: 10%;
  }

  .second {
    order: 1;
  }

  .start {
    margin-left: 10%;
    margin-right: 20%;
  }

  .end {
    margin-left: 20%;
    margin-right: 10%;
    text-align: right;
  }

  #slot {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  /*__________ WEB (SMALLER SCREENS) __________*/
  @media only screen and (min-width: 769px) {
    h3 {
      font-size: 5rem;
    }
    img {
      width: 45%;
    }
  }
</style>
